// *********************************************************************
// *********************************************************************
// *********************************************************************

// Reset ================================================================

@import 'reset/reset';

// Imports ==============================================================

// Styles and Helpers

//@import 'partials/_edit'  
    
@import 'partials/_layout'; 
@import 'partials/_colours'; 
@import 'partials/_shadows';   
@import 'partials/_radius';   
@import 'partials/_typography';    
@import 'partials/_easing';    
       
@import 'partials/_mixins';            
       
// Components 
                    
@import 'components/_buttons';               
@import 'components/_nav';  
@import 'components/_hero';           
@import 'components/_breadcrumbs';  
@import 'components/_title';  
@import 'components/_accordion';        
@import 'components/_tabs';           
@import 'components/_modal';   
@import 'components/_components.form';   
  
// Vendors  
       
@import 'vendors/decolines';         
@import 'vendors/flickity';  
  
// Helpers ==============================================================
  
//@include edit();      
      
@include selection();

// **********************************************************************
// **********************************************************************
// **********************************************************************

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;

	dl {
		width: 16.66666%;
		margin: 1rem 0;
		padding: 0 1rem;
	}

	dt {
		font-weight: bold;
	}
}

hr {
	border-color: $c-light;
	width: 10%;
	margin: 0 auto $vertical-rhythm * 2;
}

.main {
	overflow: hidden;
}

//
//
// Intro
//
//

.intro {
	text-align: center;
	margin-bottom: 5rem;
	
	h6 {
		margin-top: 6rem;
		margin-bottom: 0;
		text-transform: uppercase;
		color: $c-darker;
	}
	
	h2 {
		text-transform: uppercase;
		color: $c-secondary;
		line-height: 1;
	}
	
	&__content {
		@include row();
		text-align: left;
	}
	
	&__image {
		@include col(five);
		margin-right: 2rem;
		@include shadow(heavier);
		
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	&__copy {
		@include col(seven);
		
		@include mq(m) {
			margin-top: 2rem;
		}
		
		&-features {
			display: flex;
			
			@include mq(m) {
					display: block;
			}
			
			ul {
				@include col(six);
				
				@include mq(m) {
					margin-bottom: 1rem;
				}

				li {
					position: relative;
					
					&:before {
						content: '';
						display: inline-block;
						height: 15px;
						width: 15px;
						margin-right: .5rem;
						background-image: url(/assets/img/tick-sign.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
					}
					
					img {
						max-height: 45px;
						margin-top: 1rem;
					}
					
					h6 {
						margin-top: 0;
					}
					
					&:first-of-type,
					&:nth-of-type(2) {
						
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}

//
//
// Counters
//
//

.cta {
	background-image: url(/assets/img/counters.jpg);
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 10px 23px rgba(#000, .7);
	
	&__content {
		@include container();
		padding: 5rem 0;
		text-align: center;
	
		h2 {
			text-transform: uppercase;
			color: $c-white;
			margin-bottom: 0;
		}
		
		h6 {
			color: $c-secondary;
		}
		
		p {
			color: $c-white;
			max-width: 60%;
			margin: 0 auto;
			margin-bottom: 2rem;
		}
	}
	
	.button {
		@include button(default, $bg: $c-white);
		border-color: $c-white;
		@include shadow(heavy);
		color: $c-primary;
		@inclue transition();
		
		&:hover {
			background: $c-secondary;
			color: $c-dark;
			border-color: $c-secondary;
		}
	}
}

//
//
// Corporate
//
//

.corporate {
	text-align: center;
	margin-bottom: 5rem;
	
	h6 {
		margin-top: 6rem;
		margin-bottom: 0;
		text-transform: uppercase;
		color: $c-darker;
	}
	
	h2 {
		text-transform: uppercase;
		color: $c-secondary;
		line-height: 1;
	}
	
	&__content {
		@include row();
		text-align: left;
	}
	
	&__image {
		@include col(five);
		margin-right: 2rem;
		max-height: 400px;
		@include shadow(heavier);

		@include mq(m) {
			margin-top: $vertical-rhythm;
		}
		
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	&__copy {
		@include col(seven);
		
		@include mq(m) {
			margin-top: 2rem;
		}
		
		&-features {
			display: flex;
			
			@include mq(m) {
					display: block;
			}
			
			ul {
				@include col(six);
				
				@include mq(m) {
					margin-bottom: 1rem;
				}

				li {
					position: relative;
					
					&:before {
						content: '';
						display: inline-block;
						height: 15px;
						width: 15px;
						margin-right: .5rem;
						background-image: url(/assets/img/tick-sign.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
					}
					
					img {
						max-height: 45px;
					}
					
					h6 {
						margin-top: 0;
					}
					
					&:first-of-type,
					&:nth-of-type(2) {
						
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}


//
//
// Contact
//
//

.contact {
	background-image: url(/assets/img/contact.png);
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 10px 23px rgba(#000, .7);
	padding: 5rem 0;
	color: $c-white;
	
	h2 {
		margin-bottom: $vertical-rhythm / 2;
		color: $c-white;
		text-transform: uppercase;
	}
	
	&__content { 
		@include row();
		flex-direction: column;
		text-align: center;
		background: rgba($c-darker, .8);
		padding: 4rem;
		box-shadow: 0 10px 23px rgba(#000, .7);
	}
	 
	.form { 
		display: flex;
		flex-direction: column; 
		
		&__field {
			width: 100%; 
			display: flex; 
			margin-bottom: 1rem;
			
			@include mq(m) {
				display: block;  
			}
			
			input {
				@include col(six); 
				margin: 0;
				padding: .2rem; 
				border-color: $c-white;
				color: $c-white;				 
				    
				&:first-of-type { 
					margin-right: .5rem; 
				} 
				 
				&:last-of-type {  
					margin-left: .5rem; 
				}      
				   
				@include mq(m) {  
					width: 100%;  
					max-width: 100%;  
					margin: 0;    
					    
					&:first-of-type {   
						margin: 0;     
						margin-bottom: 1rem;  
					}
					 
					&:last-of-type { 
						margin: 0;
					}
				}
			} 
		}
		
		textarea {
			padding: .2rem;
			border-color: $c-white;
			color: $c-white;
			margin-bottom: 1rem;
		}
	}
	 
	.submit {
		@include button(shadow, $c-primary);
		border: none;
		max-width: 350px;
		margin: 0 auto;
		cursor: pointer;
	}
}

//
//
// Map
// 
//
 
#map {
	height: 350px;
	width: 100%;
}

//
//  
// Footer
//  
// 
  
.footer {
	background: $c-darker;
	padding: 1rem 0;
	
	p { 
		margin-bottom: 0;  
	}
	 
	&__content {
		@include row();   
	 	 
		a {   
			color: $c-primary;  
		} 
	}  
} 

//
//
// Services
//
//

.services {
	@include container();
	padding-bottom: 3rem;
}
  
//   
// 
// Services List Stuff
// 
//   

.services-list {
	
	.list-container {
		display: flex;
		justify-content: space-between;

		@include mq(m) {
			display: block;
		}
		
		ul {
			flex: 1 1 auto;
			margin-bottom: $vertical-rhythm;

			@include mq(m) {
				
			}
			
			li {
				
				&:before {
					content: '- ';
					font-weight: 700;
					color: $c-primary;
				}
			}
		}
	}
}

.list-title {
	
	&:before {
		display: none;
	}
}

//
//
// Services Prices
//
//
 
.service__price {
	display: flex; 
	flex-wrap: wrap;
	
	> ul {
		flex: 1 1 auto;
	}
	
	li {
		text-align: center;
		
		&:first-of-type {
			font-weight: bold;
		}
	}
}

.ttcp {
	margin-top: $vertical-rhythm;
	margin-bottom: $vertical-rhythm / 2;
}

.service__combo-price {
	display: flex; 
	flex-wrap: wrap;

	@include mq(m) {
		display: block;
	}

	> ul {
		width: size(1/3);
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		margin-right: 1rem;
		@include mq(m) {
			width: 100%;
		}
		
		&:last-of-type {
			margin-right: 0;
		}
		
		.equipment {
			font-weight: bold;
			margin-right: 1rem;
		}
		
		.total {
			border-top: solid 1px $c-grey;
		}
	}
}

//
//
// Pricing
//
//

.pricing {
	@include container();
	padding: 3rem 0;
	position: relative;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -100vw;
		width: 200vw;
		background: $c-white;
		height: 50px;
		@include shadow(heavier);
	}
	
	h2 {
		color: $c-secondary;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		text-align: center;
	}
	
	.subtitle {
		text-align: center;
	}
}