.breadcrumbs {
	padding: .5rem 0;
	background: $c-darker;
	
	ul {
		@include row();
		display: flex;
		
		li {
			
			&:after {
				content: '/';
				margin: 0.5rem;
			}
			
			&:last-of-type {
				
				&:after {
					display: none;
				}
			}
		}
		
		a {
			color: lighten($c-font, 30%);
		}
		
		.active {
				
			a {
				color: $c-primary;
			}
		}
	}
}