//
//
// Colours
//
//

$c-primary: #00A8E6;
$c-secondary: #EAC222;
$c-tertiary: #DC0A1E;

$c-red: #FA5252;
$c-pink: #E64980;
$c-grape: #BE4BDB;
$c-violet: #7950F2;
$c-indigo: #4C6EF5;
$c-blue: #228AE6;
$c-cyan: #15AABF;
$c-teal: #12B886;
$c-green: #51CF66;
$c-lime: #82C91E;
$c-yellow: #FAB005;
$c-orange: #FD7E14;

$c-lighter: #F5F5F5;
$c-light: #DDDDDD;
$c-grey: #9B9B9B;
$c-dark: #343A40;
$c-darker: #131519;

$c-white: #ffffff;
$c-black: #000000;

$c-font: #666666;